.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: .5s;
  border: none;
  cursor: pointer;

  &.btn-primary,
  &.btn-primary-circle {
    background: var(--primary);
    color: var(--black-010);

    &:hover {
      background: var(--primary-010);
      color: var(--white);
    }
  }

  &.btn-danger,
  &.btn-danger-circle {
    background: var(--red);
    color: var(--white);

    &:hover {
      background: var(--red-010);
    }
  }

  &.btn-danger,
  &.btn-primary {
   font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
  }

  &.btn-danger-circle,
  &.btn-primary-circle {
    width: 30px;
    height: 30px;
    border-radius: 50px;

    &::after {
      position: relative;
      top: 1px;
    }
  }

  &.btn-danger-circle{
    &::after {
      content: url('/assets/icons/delete.svg')
    }
  }

  &.btn-primary-circle {
    &::after {
      content: url('/assets/icons/add.svg')
    }
  }
}

